<div class="nav">
    <div class="links">
        <a href="/alphabetical" class="link">Alphabetical</a>
        <a href="/ascending" class="link">Price: Ascending</a>
        <a href="/descending" class="link">Price: Descending</a>
        <a href="/random" class="link">Random</a>
        <a href="/under100" class="link">Under $100</a>
        <a href="/create" class="link">Sell</a>
    </div>
</div>
<br>
<hr>